body {
  background-color: lightgrey;
  font-family: 'Archivo Black', sans-serif;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTObsRNcRwjf4y3cHtG5TBtRHgOadNdC_ES6w&usqp=CAU");
  text-shadow:
		-1px -1px 0 ghostwhite,
		1px -1px 0 ghostwhite,
		-1px 1px 0 ghostwhite,
		1px 1px 0 ghostwhite;
    text-align: center;
}

.myButton {
	box-shadow: 3px 4px 0px 0px #1564ad;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:5px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
  text-shadow:
		-1px -1px 0 black,
		1px -1px 0 black,
		-1px 1px 0 black,
		1px 1px 0 black;
}
.myButton:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.myButton:active {
	position:relative;
	top:1px;
}

img {
  margin: 30px 0 100px 0;
  width: 300px;
  height: 300px;
  height: auto;
  border-radius: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 3rem;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  width: 420px;
}

.container-create {
  width: 40%;
  margin: 0 auto;
  background-color: darkgrey;
  height: 280px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px black, 13px 13px 15px #337BC4;
}

h1 {
  font-size: 3em;
}

@keyframes vics {
  0%   {color: red;}
  17%  {color: orange;}
  34%  {color: yellow;}
  51% {color: green;}
  68%  {color: blue;}
  84%  {color: violet;}
  100%  {color: indigo;}
}
span {
  font-family: 'Yellowtail', cursive;
  font-size: 3em;
  animation-name: vics;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}
