body {
  background-color: lightgrey;
}

.container-create {
  width: 40%;
  margin: 0 auto;
  background-color: darkgrey;
  height: 445px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px black, 13px 13px 15px #337BC4;
}

h1 {
  font-size: 3em;
}

@keyframes vics {
  0%   {color: red;}
  17%  {color: orange;}
  34%  {color: yellow;}
  51% {color: green;}
  68%  {color: blue;}
  84%  {color: violet;}
  100%  {color: indigo;}
}
span {
  font-family: 'Yellowtail', cursive;
  font-size: 3em;
  animation-name: vics;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}
